
  <div class="row about-card">
    <div class="col-9">
      <h3>Aslan sadiqov</h3>
      <p>Bu sahede illerdir tecrubesi olan aslan sadiqov blabla bla  blabla bla  blabla bla  blabla bla  blabla bla  blabla bla  blabla bla  blabla bla  blabla bla  blabla bla  blabla bla  </p>
    </div>
    <div class="col-3">
      <img src="images/card-images/renovation.jpg" alt="">
    </div>
  </div>
