<%- include('header'); -%>
<div class="about">
<h1 class="about-header">Haqqımızda</h1>
<p class="description">Bilməli olduğunuz hər şey</p>
<p class="about-content">Şirkətin işi layihənin həyata keçirilməsinin bütün mərhələlərində Sifarişçi ilə fərdi yanaşma və qarşılıqlı anlaşmaya əsaslanır.</p>
<h2 class="workers-header">Niyə biz?</h2>
<ul class="about-list">
  <li>Bazarla olan yaxın əlaqələrimizə görə ən optimal təklifləri verilir.</li>
  <li>Təklif olunan işlərin hər biri ilə o sahədə mütəxəssisləşmiş şəxslər məşğul olur,maksimum keyfiyyət təmin edilir.</li>
  <li>İş bitdikdən sonra ortaya çıxmış kiçik narazılıqlar şirkətimiz tərəfindən aradan qaldırılır.</li>
  <li>Qiymətləndirmə iş başlamamışdan əvvəl aparılır,iş zamanı xoşagəlməz əlavə xərclər yaranmır.</li>
  <li>Görülən hər bir işə zəmanət verilir.</li>
</ul>
<h2 class="companies-header">Əməkdaşlarımız</h2>
<%- include('companies');-%>
</div>
<%- include('footer'); -%>
