<div class="col-xl-3 col-md-4 col-sm-6 company-margin">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top company-image" src="images/logo-images/<%=image%>" alt="Card image cap">
</div>
</div>
