<div class="portofolio-block">
  <img src="images/portofolio-images/<%= source%>" alt="">

  <div class="portofolio-text">
    <h4><%= header%></h4>
    <a href="/portofolio/<%= header%>"id="<%=id%>"><p>Ətraflı oxumaq üçün klikləyin</p></a>
  </div>

</div>
